body {
    background-color: blanchedalmond;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

#gameScreen {
    
        position: relative;
        width: 800px; 
        height: 600px; 
        background-color: blanchedalmond;
        overflow: hidden; 
        margin: 0 auto; 
    
}



#character {
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url('Imagenes/blackie_abajo.png'); 
    background-size: cover; 
    }
    
    

.startbutton {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 20px;
    background-color: green;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
