/* Estilo para el cuerpo */
body {
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Pantalla inicial */
.startScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0;
}

/* Botón de inicio */
.startbutton {
    padding: 10px 20px;
    font-size: 24px;
    color: white;
    background-color: green;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


#gameScreen {
    position: relative;
    width: 1000px; 
    height: 800px; 
    background-color: skyblue;
    overflow: hidden; /* Evita que el personaje salga del área visible */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}


#character {
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url('Imagenes/blackie_abajo_sinfondo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}