body {
    background-image: url('Imagenes/pantallainicial.jpg');
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.startScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('Imagenes/pantallainicial2.jpg');
    background-size: cover;
    background-position: center;
}

/* Contenedor de los botones */
.buttonContainer {
    display: flex;
    flex-direction: column; /* Disposición vertical */
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
    padding: 20px;
    border-radius: 15px;
    border: solid 4px rgb(253, 109, 140);

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para el contenedor */
}

/* Estilo de los botones */
.startbutton {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px 20px;
    font-size: 50px;
    color: rgb(253, 109, 140);
        background-color: rgb(245, 180, 191); /* Mantener el color original */
    border: solid 4px rgb(253, 109, 140);
    border-radius: 15px;
    cursor: pointer;
    margin: 10px 0; /* Espaciado vertical entre botones */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, background-color 0.2s;
}

.startbutton:hover {
    background-color: rgba(224, 206, 213, 0.438); /* Cambia el fondo a un tono más claro al pasar el mouse */
}

.startbutton:active {
    transform: scale(0.95); /* Reduce ligeramente el tamaño al hacer clic */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Reduce la sombra al hacer clic */
}



#gameScreen {
    position: relative;
    width: 40%; 
    height: 80%; 
    background-color: hidden; 
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat;
    overflow: hidden; 
    margin: 0 auto; 
}


#character {
    position: absolute;
    width: 13%; 
    height: 11%; 
    background-image: url('Imagenes/blackie_abajo_sinfondo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 10;
}


#maceta {
    position: absolute;
    width: 10%; 
    height: auto; 
    
    bottom: 2%; 
    left: 2%; 
    z-index: 5;
}
#maceta img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#mesa {
    position: absolute;
    width: 36%; 
    height: auto; 
    top: 48%; 
    left: 31.6%; 
    z-index: 5;
}

#mesa img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#escritorio {
    position: absolute;
    width: 25%; 
    height: 25%;;
    height: auto;
    top: 12%; 
    left: 73%; 
    z-index: 5;
}
#escritorio img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
}

#puerta {
    position: absolute;
    width: 15%; 
    height: auto; 
    top: 1.9%; 
    left: 10%;
    z-index: 5;    
}
#puerta img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#reloj {
    position: absolute;
    width: 13%; 
    height: auto;  
    top: 3%; 
    left: 41%;
    transform: translateX(-50%);
    z-index: 5;
}
#reloj img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#fondo {
    position: absolute;
    width: 100%; 
    height: 100%; 
    background-image: url('Imagenes/fondo.png'); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    z-index: 5;
   
}

#messageBox  {
    position: absolute; 
    text-align: center;
    bottom: 10px; 
    left: 50%;
    transform: translateX(-50%); 
    background-color: rgba(0, 0, 0, 0.7); 
    color: white; 
    padding: 10px; 
    border-radius: 5px;
    display: none;
    z-index: 1000;
}

#messageBox img {
    max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Asegura que la imagen sea un bloque independiente */
    margin: 10px auto; /* Centra la imagen horizontalmente y agrega espacio vertical */
}

#messageBox p {
    margin: 10px 0; /* Espaciado entre el texto y otros elementos */
    font-size: 16px; /* Tamaño de fuente para el texto */
    line-height: 1.5; /* Espaciado entre líneas para mejorar la legibilidad */
}

#timer {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 5px;

    z-index: 1000;
}

#interactionImageContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1100; /* Asegura que esté por encima de otros elementos */
    display: none; /* Oculto por defecto */
    text-align: center;
}

#interactionImageContainer img {
    max-width: 60%;
    max-height: 60%;
    margin-bottom: 10px;
}

/* Estilo del modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

/* Contenido del modal */
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Botón de cerrar */
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.close:hover {
    color: red;
}

#restartContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000; /* Asegura que esté por encima de otros elementos */
    text-align: center;
}

.restartButton {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px 30px;
    font-size: 24px;
    color: white;
    background-color: rgb(241, 158, 172);
    border: solid 4px rgb(255, 253, 253);
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, background-color 0.2s;
}

.restartButton:hover {
    background-color: rgb(255, 200, 200); /* Cambia el fondo a un tono más claro al pasar el mouse */
}

.restartButton:active {
    transform: scale(0.95); /* Reduce ligeramente el tamaño al hacer clic */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Reduce la sombra al hacer clic */
}

.fondo-transparent {
    opacity: 0.5; /* Reduce la opacidad al 50% */
    transition: opacity 0.3s ease; /* Transición suave para el cambio de opacidad */
}

.tutorial-image {
    max-width: 100%; /* La imagen no será más ancha que su contenedor */
    height: 10%; /* Mantiene las proporciones de la imagen */
    display: block; /* Centra la imagen si es necesario */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}
